.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 15.875rem;
  height: 4.375rem;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .header__logo {
    height: 4.125rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    width: 11.75rem;
    height: 3.25rem;
  }
}
